// Colours
$color-text-primary: #777;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-theme-info: #927bc1;
$color-theme-error: #e4757a;
$color-theme-warning: #fd7856;
$color-theme-success: #63cc82;
$color-text-secondary: #fff;

// Media Queries
$narrow-break: '(min-width: 768px)';