/* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: $color-text-secondary;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-secondary;
  }

  .default:hover {
    background-color: $secondary-light;
  }
  
  .error {
    background-color: $color-theme-error;
  }
  
  .info {
    background-color: $color-theme-info;
  }
  
  .success {
    background-color: $color-theme-success;
  }
  
  .warning {
    background-color: $color-theme-warning;
  }